
.h{
    margin-left: 60px;
}

.rightSideSit{
    display: flex;
    flex-direction: column;
    height: 100%; /* Set the desired height for the scrollable area */
    overflow: auto;
}

#right_search{
    display: flex;
    margin-top: 50px;
    font-family: Inria Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: center;
    color: aliceblue;
    font-size: 48px;
    text-align: center;
}

#Inputs{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}
.x{
    font-size: 20px;
}
#songName{
    display: flex;
    width: 824px;
    height: 57px;
    top: -249px;
    left: -312px;
    border-radius: 19px;
    font-size: x-large;
    font-family: Inria Sans;
}

#searchButton{
    width: 225px;
    height: 56px;
    margin-top: 2px;
    left: 440px;
    border-radius: 16px;
    background: #EF6D49;
    color: aliceblue;
    margin-left: 30px;
    border: 0px;
    text-align: center;
    cursor: pointer;
}

#searchButton:hover{
    background-color: rgb(159, 51, 51);
    color: rgb(8, 8, 8);
    transform: scale(1.01);
}

.SearchResult{
    padding-top: 100px;
    display: flex;

}
