body{
    margin:0;
    background: #04152E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main1{
    margin:0;
    width : 100%;
}

#titlebarpage2{
    display: flex;
    flex-direction: row;
    line-height: 1;
    align-items: center;
    width: 100%;
    padding-left: 20px;
    border-radius: 5px;
    background: #040e1d;
}
#titlebarpage2 h1{
    padding-left: 10; 
    color: rgb(255, 255, 255);
    font-family: "Inria Sans";
}
#SL{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    font-family:"Inria Sans";
    margin-top:14px;
    color: #ffffff;
    font-family: "Inria Sans";
}

h2{
    font-size: 44px;
    padding-bottom: 0%;
}

#bodypage2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inria Sans";
    margin-top: 70px;
}
#username{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 362px;
    height: 46px;
    margin-top: 30px;
    font-family: "Inria Sans";
}
#email{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 362px;
    height: 46px;
    margin-top: 20px;
    font-family: "Inria Sans";
}
#password{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 362px;
    height: 46px;
    margin-top: 20px;
    font-family: "Inria Sans";
}
input[type="text"],
input[type="password"],
select{
    border-radius: 10px;
    border: 0px;
    background: #FFF;
    width: 362px;
    height: 46px;
}

input[type="text"],
input[type="password"],
select ::placeholder{
    color: #000;
    font-family: Inria Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 15px;
}

button{
    width: 362px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 27px;
    border : 0px;
    margin-top: 40px;
    background: #EF6D49;
}

#bti{
    color: #FFF;
    text-align: center;
    font-family: Inria Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#bti:hover{
    background-color: rgb(159, 51, 51);
    color: rgb(8, 8, 8);
    transform: scale(1.01);
    cursor: pointer;
}

#login{
    color: #ffffff;
    font-family: "Inria Sans";
    text-decoration: underline;
}

#login:hover{
    transform: scale(1.01);
}
