.SongCards{
    background-color:#04152E;
    /* #04152E */
    display : flex;
    flex-direction: column;
    font-family: "Inria Sans";
    color: aliceblue;
    height : 270px;
    width: 223px;
    border-radius: 15px;
    margin-left: 40px;
}
.SCimg{
    height: 200px;
    width: 223px;
    border-radius: 30px;
}